{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{category.name}}</td>
                    <td>{{category.color}}</td>
                    <td><a class="btn btn-primary" href="{{ path('category.show', {id: category.id}) }}" role="button">En savoir plus</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
